.form-login {
    margin: 50px auto;
    width: 420px;

}
.container {
    border: black 1px solid;
    text-align: center;
    margin: 50px auto 0 auto;
    width: 40%;
    border-radius: 10px;
    box-shadow: #59a9fa 0 0 30px 5px;
}
.header {
    margin-top: 150px;
}
.header h1 {
    text-align: center;
}